/* Estilos */

body{
    background-image: url(../img/arduino_led-1.jpg);
    padding: 0;
    margin: 0;
    
}
-paleta de colores
#467DF8 azul
#91913F oliva
#1A7CC4 mar
.card{
    margin-top: 12%;
}



  h1 { 
    margin: 10px;
    font-size: 100%;
    text-align: center; 
    text-transform: uppercase; 
  }
  
  fieldset { 
    background-color: rgb(230, 255, 254);
    border: #467DF8 3px solid; 
    padding: 10px 20px 20px;
    background-color: #f7c707;
    margin-top: 12%;
  } 
  
  legend { 
    background-color: #1A7CC4;
    border: black 3px solid; 
    font-size: 120%; 
    padding: 0px 20px; 
    text-align: center;
 }
  
  input { 
    font-family: monospace; 
  }
 
  
  .der { 
    text-align: right; 
    margin: 10px 0px; 
    
  }

  a.btn{
    background-color:#1A7CC4;

  }
  
  address { 
    clear: both;
    border-top: black solid 1px; 
    margin-top: 10px; 
    padding-top: 5px; 
  }
  
  p.licencia { 
    text-align: center; 
  }
  