/* Estilos */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
}

.btn-buscar {
    background-image: url(../images/lupa.png);
    background-size: cover;
    background-position: center;
    width: 38px;
    height: 38px;
}

@media (min-width: 992px) {
    .form-inline {
        width: 300px;
    }
}

.bg-primary {
    background-color: #f8c808!important;
}

.bg-secondary {
    background-color: #000000!important;
}

.border-secondary {
    border: 1px #000000 solid!important;
}

.btn-outline-secondary,
.btn-outline-secondary:hover  {
    border: none!important;
}

.btn-outline-success,
.btn-outline-success:hover  {
    background-color: #bebebe!important;
    border: 1px #000000 solid!important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: white;
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 3px solid white;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-:hover {
  height: 100px;
  width: 100px;
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 3px solid white;
}

.card {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid black;
}

a,
a:hover{
   color: black;
   text-decoration: none;
}

footer {
    position: center;
    top: 92.5%;
    text-align: center;
}
